<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
      {{ dropzone.config() }}
      {{ dropzone.load_css() }}
   </head>
   <body>
   <div class="container">
      <div style="width: 100%; display: table;">
         <div style="display: table-row;">
            <div style="width: 50%; display: table-cell; position: relative;">
               <h2>Acronym Finder</h2>
            </div>
            <div style="display: table-cell; width: 100%;"> 
               <div class="buttons disabled" id='download-btns'>
                  <div class="action_btn" style="float: right;">
                     <h4 class="action_btn">Download: </h4>
                     <form class="action_btn submit" action="/get-docx" method="POST">
                        <button name="submit" class="action_btn submit" type="submit" value="Docx">Docx</button>
                     </form>
                     <form class="action_btn submit" action="/get-xlsx" method="POST">
                        <button name="submit" class="action_btn submit" type="submit" value="XLSX">XLSX</button>  
                     </form>                   
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="dropzone">
         <div class="dz-message needsclick" id="dz-parent" style="align-items : center; justify-content: center;">
            <h3 style="align-items : center; justify-content: center;">Drag and drop file here</h3>
            <h4>or</h4>
            <label>Browse for file</label>
         </div>
      </div>
      <div class="file name" id="filename">
	 test text
      </div>
   </div>
   <script>
   $(document).ready(function(){
      Dropzone.autoDiscover = false;
      $(".dropzone").dropzone({
      url: '/upload',
      width: 300,
      height: 300,
      progressBarWidth: '100%',
      maxFiles: 1,
      maxFileSize: '15MB',
      acceptedFiles: 'application/pdf, .doc, .docx, .xlsx',
      addRemoveLinks: true,
      init: function() {
         this.on("success", function(serverResponse) {
            document.getElementById('download-btns').classList.remove('disabled');
	    <!-- grab filename from dynamically added dz filename class -->
	    let filenames = document.getElementsByClassName("dz-filename");
	    let name = filenames[0].innerText;
	    <!-- display uploaded filename under dropzone -->
	    document.getElementById('filename').textContent = name;
	    $.ajax({
	       url: "127.0.0.1:5000/get-docx",
	       type: "POST",
	       data: JSON.stringify({'fn': name})})

            let items = document.getElementsByClassName('action_btn submit');
            for(var i = 0; i < items.length; i++) {
               items[i].style.color = 'blue';
            }
         });     
         this.on("removedfile", function(file) {
            document.getElementById('download-btns').classList.add('disabled');
               let items = document.getElementsByClassName('action_btn submit');
               for(var i = 0; i < items.length; i++) {
                  items[i].style.color = '';
               }               
         });
      }
      });
   });
   </script>
   {{ dropzone.load_js() }}
   </body>
</html>
